*{
  font-family: 'Dosis', sans-serif;
  color: white;
}
body{
  margin: 0;
}
.body-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.header{
  gap: 8px;
  width: 100%;
  max-height: 100px;
  background-color: #1f2833;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.header a,
.header p{
  font-weight: 600;
  font-size: 20px;
}

.logo-container{
  width: 75px;
  height: 75px;
  border-radius: 50px;
  margin-left: 50px;
  transition: transform 1s ease-in-out;
}

.logo-container img{
  width: 75px;
  height: 100%;
  border-radius: 50px;
}
.logo-container:hover{
  transform: rotate(360deg);
}
.dropdown-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.links-container{
  display: flex;
  gap: 45px;
  justify-content: center;
  height: 100%;
}
.links-container a,
.hover-div a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.aboutme-container,
.contact-container,
.portfolio-container,
.hover-div{
  display: flex;
  width: 120px;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.links-container button,
.dropdown-container button{
  background-color:  #1f2833;
  height: 100px;
  min-height: 100px;
  width: 100%;
  border: 0;
}

.links-container button:hover,
.dropdown-container button:hover,
.item1:hover{
  background-color: #294b6d;
  cursor: pointer;
  transition: .8s;
  border: 1px solid black;
}

.hover-div{
  height: 100%;
  width: 100%;
}
.hover-div a{
  text-decoration: none;
}
.list-container{
display: none;
position: absolute;
}

.dropdown-container .hover-div:hover .list-container{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  margin-top: 300px;
}

.item1{
  margin-bottom: 0;
  width: 200px;
  height: 50px;
  background-color: #43566d;
}
.middle-container{
  display: flex;
  flex-direction: column;
  background:linear-gradient(rgb(202, 194, 194), #1f2833);
  min-height: 950px;
  flex: 1;
  padding-bottom: 200px;
}

.welcome-container{
  margin-top: 200px;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: #1f2833;
  border-radius: 50px;
}
.welcome-container h1{
  margin-top: -10px;
  font-size: 100px;
}
.welcome-container h2{
  font-size: 30px;
  text-align: center;
 
}
.footer 
{
  background-color: #1f2833;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.copyright-name-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
  justify-content: left;
  width: 100%;
  height: max-content;
  gap: 6px;
  font-size: 12px;
  margin-left: 40px;
}
.marks-container{
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  align-items: center;
}
.marks-container img{
  width: auto;
  height: 40px;
}
.marks-container img{
  transition: transform 0.6s ease-in-out;
}
.marks-container img:hover{
  transform: rotateY(360deg) scale(1.4);
}
.middle-container h1{
  display: flex;
  align-self: center;
  font-size: 75px;
  background-color: #1f2833;
  color: white;
  width: 85%;
}
.middle-header-container{
  display: flex;
  align-self: center;
  height: 185px;
  width: fit-content;
}
.middle-header-container h1{
  align-items: center;
  justify-content: center;
  font-size: 65px;
  background-color: #1f2833;
  color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.levitate-media-container{
  display: flex;
  flex-direction: row;
}
.tabcontent,
.aboutme-body-container{
  display: flex;
  width: 85%;
  padding: 20px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: #1f2833;
  border-radius: 50px;
  gap: 50px;
}
.contact-body-container{
  display: flex;
  width: 85%;
  padding: 20px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: #1f2833;
  border-radius: 50px;
  gap: 100px;
  flex: 1;
}

.sdsu-container{
  margin-top: 50px;
}
.portfolio-tabs-container{
  display: flex;
  justify-content: left;
  align-self: center;
  width: 75%;
  gap: 1px;
}
.tablink:hover{
  background-color: #294b6d;
}
.tablink{
  width: auto;
  height: fit-content;
  font-size: 25px;
  background-color: #43566d;
  border: none;
  border-radius: 10px 10px 0 0;
}
.tablink.active{
  background-color: #1f2833;
}
.tabcontent h1{
  display: flex;
  font-size: 45px;
  justify-content: left;
  width: 95%;
}
.tabcontent p{
  display: flex;
  font-size: 20px;
  justify-content: left;
  text-align: left;
  width: 95%;
  margin-top: -50px;
}
.levitate-images-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  width: 95%;
  padding-bottom: 100px;
}
.levitate-video-container{
  display: flex;
  margin-right: 60px;
}
.levitate-images-container img{
  height: max-content;
  width: 500px;
}
.aboutme-picture-container{
  display: flex;
  width: 300px;
  justify-content: center;
  align-self: center;
  margin-bottom: 35px;
  
}
.aboutme-picture-container img{
  display: flex;
  width: 175px;
  height: max-content;
  border: 5px solid #1f2833;
  border-radius: 10%;
}
.aboutme-body-container p{
  font-size: 30px;
}
.sdsu1-media-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  width: 95%;
  margin-bottom: 75px;
}
.sdsu1-media-container img{
  display: flex;
  width: 300px;
  height: max-content;
}
.sdsu2-media-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  width: 95%;
  margin-bottom: 75px;
}
.sdsu2-media-container img{
  display: flex;
  width: 500px;
  height: max-content;
}
.sdsu3-media-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  width: 95%;
  margin-bottom: 100px;
}
.sdsu3-media-container img{
  display: flex;
  width: 500px;
  height: max-content;
}
.enclosure-media-container{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  width: 95%;
  margin-bottom: 50px;
}
.enclosure-media-container img{
  display: flex;
  width: 400px;
  height: max-content;
}
.enclosure-media-container img[alt~="enclosurepic2"]{
  width: 650px;
  height: auto;
}
.contact-body-container img{
  margin-top: 35px;
  width: 200px;
  height: max-content;
}
.contact-email-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact-email-container img{
  width: 100px;
  height: auto;
}
.contact-email-container a{
  margin-top: 20px;
  font-size: 40px;
}
.contact-links-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 200px;
  align-items: center;
}
.contact-links-container img{
  width: 300px;
  height: auto;
}
.contact-links-container img:hover{
  transform: translate(-5%,-5%);
}
.copyright-name-container a:hover{
  transform: scale(1.05);
}
.carlatch-media-container{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
}
.carlatch-media-container img{
  height: 375px;
  width: max-content;
}
.cad-media-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.cad-media-container img{
  height: 200px;
  width: max-content;
}
.excel-media-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}
.excel-media-container img{
  height: 300px;
  width: max-content;
}
.matlab-media-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-bottom: 50px;
}
.matlab-media-container img{
  height: 300px;
  width: max-content;
}
.calculations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.submission-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  min-width: 200px;
  max-width: 230px;
  height: max-content;
  padding: 40px;
  background-color: #1f2833;
  border-radius: 20px;
  align-self: left;
  margin-left: 100px;
}
.submission-container input{
  color: black;
  font-size: 20px;
  width: 120px;
  height: max-content;
}
.submission-container label{
  color: white;
  font-size: 20px;
  width: max-content;
  height: max-content;
}
.submission-container button{
  height: max-content;
  width: 200px;
  background-color: #294b6d;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px;
}
.submission-container button:hover{
  background-color: #43566d;
  color: white;
}
.results-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 100px;
  min-width: 550px;
  height: max-content;
  padding: 40px;
  background-color: #1f2833;
  border-radius: 20px;
  align-self: left;
  margin-left: 100px;
}
.results-container p{
  font-size: 20px;
  white-space: nowrap;
  line-height: 300%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.calculator-card-container img{
  width: 300px;
  height: fit-content;
  border-radius: 30px;
}
.calculator-card-container p{
width: 100%;
}
.calculator-card-container button{
  width: 150px;
  height: max-content;
  padding: 8px;
  background-color: #294b6d;
  border-radius: 10px;
  font-size: 18px;
}
.calculator-card-container button:hover{
  background-color: #43566d;
}
.principalstresses-card-container,
.pressurevesselstress-card-container,
.columnfailure-card-container,
.strengthandcoldwork-card-container{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 300px;
  background-color: #1f2833;
  justify-content: top;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}
